// nav bar
.menu{
    background-color: $main-color;
}
body{
    nav{
        img{
            width: 50%;
        }
    }
}
.navbar {
    flex-wrap: nowrap;
}
.dropdown-menu a:active{
    background-color: $secondary-color;
    color: black;
}
.navbar-collapse {
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: $main-color; 
    width: 100%; 
    z-index: 1000;
    border: 1px solid #ced4da; 
}
.dropdown-menu {
    position: static; /* Ajusta la posición del menú desplegable a estática */
  }
// index
.carousel{
    margin: 1%;
}
.who-we-are{
    margin: 2% 1% auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
        figure{
            width: 50%;
        }
            figcaption{
                font-size: $tittles;
                color: $secondary-color;
                margin: 2%;
            }
                p{
                    margin: 2%;
                }
}
.info{
    border-left: solid #f87887 2px;
}

