// starts general designs responsive
@media (width < 768px){
    h1{
        font-size: 30px;
    }
}
// starts index responsive
@media (width < 700px){
    .who-we-are{
        flex-direction: column;
            figure{
                width: 100%;
            }
                figcaption{
                    margin: 0.5%;
                    font-size: $tittles-responsive;
                }
                    p{
                    margin: 0.5%;
                    font-size: $paragraphs-responsive;
                    }
    }
    .info{
        border-top: solid #f87887 2px;
        border-left: none;
    }
}
// starts products responsive
@media (width <= 768px){
    .products-types p{
        font-size: $paragraphs-responsive;
    }
}
@media (width < 768px){
    .products-types p{
        font-size: $paragraphs-responsive;
    } 
}
// starts register and sign up responsive
@media (width < 400px){
    .buttons{
        width: 36%;
        margin-left: 20px;
    }
    body{
        nav{
            ul{
                li{
                    font-size: $paragraphs-responsive;
                        a{
                            font-size: $paragraphs-responsive;
                        }
                }
            }
        }
    }
}
// starts footer responsive
@media (width < 768px){
    .logo-footer{
        display: none;
    }
    .social-icons{
        margin-top: 30px;
    }
    .links ul li{
        font-size: $paragraphs-responsive;
            a{
                font-size: $paragraphs-responsive;
            }
    }
}
// ends footer responsive